.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title.active, .title:hover  {
  color: rgb(144, 144, 144);
}
.remove-img {
  margin-left: 5px;
  width: 20px;
  color: blue;
}
