.wrapper {
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  top: 0;
  justify-content: end;
  max-width: 500px;
  padding-right: 10px;
  box-sizing: border-box;
}
.info-mess {
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: var(--second-color);
  height: max-content;
  font-size: 14px;
  color: #fff;
}
.info-mess.hide {
  display: none;
}
.message {
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttons {
  margin-top: 15px;
  display: flex;
  justify-content: end;
  gap: 15px;
}

.buttons button {
  font-size: 16px;
  color: #fff;
}

.buttons button:hover {
  color: #c7c7c7;
}