.wrapper {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  background-color: var(--second-color);
}
.wrapper.login-wrapper {
  right: -550%;
}
.wrapper.logout-wrapper {
  right: -225%;
}
.wrapper.close {
  display: none;
}
.form {
  display: flex;
  flex-direction: column;
}
.form.close {
  display: none;
}
.form input:nth-child(2) {
  margin-top: 5px;
}
.options {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggler button {
  color: rgb(234, 234, 234);
  font-size: 12px;
}
.toggler button:nth-child(1) {
  margin-right: 5px;
}
.toggler button.active {
  text-decoration: underline;
}
.toggler button:hover {
  color: rgb(204, 204, 204);
}
.send-btn {
  padding: 1px 5px;
  background-color: #fff;
}
.send-btn:hover {
  background-color: rgb(236, 236, 236);
}
.send-btn img {
  width: 22px;
  height: 10px;
  object-fit: cover;
}
.error-mess {
  margin-top: 5px;
  font-size: 12px;
  color: #fd8b8b;
}
.exit-btn {
  cursor: pointer;
  color:  #fff;
  font-size: 16px;
}
.exit-btn.close {
  display: none;
}
.exit-btn:hover {
  color: rgb(212, 212, 212);
}